header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #ffffff;
}

header-logo {
  height: 2,5rem;
}

menu-icons {
  height: 1,5rem;
  cursor: pointer;
}