.headerContainer {
  display: flex;
  justify-content: space-between;
  margin: 5rem;
  padding: 1rem;
  background-color: #ffffff;
}

.headerLogo {
  display: flex;
  align-items: start;
  height: 2rem;
}

.menuIcon {
  height: 1rem;
  cursor: pointer;
}